  p {
    font-family: verdana;
  }
  .h1 {
    font-weight: bold;
    margin-bottom: 0;
  }

  .p1 {
    color: rgb(96, 96, 96);
    margin-top: 2px;
  }

  .p2 {
    width: 300px;
    margin-bottom: 0;
  }

  .button {
    background-color: rgb(13, 172, 13);
    border: none;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 5px;
    font-family: verdana;
    margin-top: 18px;
  }