.heading {
  font-family: montserrat;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0px;
  }

.paragraph {
  font-family: montserrat;
  text-align: center;
  font-size: 10px;
  margin-top: 10px;
}

.span {
  text-decoration: underline;
}yfuawfdafsdadjw